{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container text-dark mt-2 mb-2 pt-3 border bg-light text-center">
        <h2>{{ order.client }}</h2>

        <form action="" method="post" class="w-50 m-auto">
            {% csrf_token %}
            <label for="product" class="form-label">{{ form.product.label }}</label>
            {{ form.product }}
            <div class="pt-3 pb-3"></div>

            <label for="quantity">{{ form.quantity.label }}</label>
            {{ form.quantity }}

            <div class="pt-3 pb-3"></div>

            <button type="submit" class="btn btn-success">Adicionar</button>

            <div class="pt-3 pb-3"></div>
        </form>

        <h3>Produtos</h3>
        <div class="pt-3 pb-3"></div>
        <div class="container mb-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order.products.all %}
                    <tr>
                        <th>{{ product.product.name }}</th>
                        <th>{{ product.quantity }}</th>
                        <th><a href="" class="btn btn-success w-100 h-100">+</a></th>
                        <th><a href="" class="btn btn-danger w-100 h-100">-</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url "order" order.id %}" class="btn btn-primary mb-3 mt-3">Voltar</a>

    </div>
{% endblock content %}