{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <section class="main-content">
                <form action="{% url "order:add_product" order.id %}" method="post" class="form-group">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group__input">
                            {{ field.label }}        
                            {{ field }}        
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
                <a href="{% url "order:order" order.id %}"><button type="submit" class="btn btn-warning">Voltar</button></a>
            </section>
        </div>
    </main>
{% endblock content %}