{% extends "base.html" %}
{% block content %}
    
    <div class="container text-dark mt-2 pt-3 border bg-light">
        <div>
            <form class="input-group w-50 m-auto" role="search" action="{% url "search" %}" method="get">
                <input class="form-control form-control-lg" type="search" placeholder="Buscar por referência"
                    aria-label="Search" name="search" value="{{ search }}">
                <button class="input-group-text" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <div class="text-center pt-4 pb-4">
            <button class="btn btn-primary"><a href="{% url "create_order" %}" class="nav-link text-dark">Criar Pedido</a></button>
        </div>

        <!-- Cards content -->

        <div class="row justify-content-start gx-4">

            {% for order in page_obj %}
                <div class="col-12 col-lg-4">
                    <div class="card m-3 text-center">
                        <div class="card-header">
                            <h4><a href="{% url "order" order.id %}" class="link-body-emphasis link-underline-opacity-0">{{ order.client }}</a></h4>
                        </div>
                        <div class="card-text mt-3">
                            <h5>R${{ order.total_value }}</h1>
                            {% if order.status == "pendente" %}
                                <p>Status: <span class="text-danger">{{ order.status }}</span></p>
                            {% else %}
                                <p>Status: <span class="text-success"> {{ order.status }} </span></p>
                            {% endif %}
                        </div>

                        <div class="row mb-3">
                            <form action="{% url "delete_order" order.id %}" method="post" class=" col-6 text-end">
                                {% csrf_token %}
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                            <form action="{% url "checkout" order.id %}" method="post" class="col-6 text-start">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Finalizar</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            Pedido feito em {{ order.created_at }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- Pagination -->
            <nav class="mt-2 mb-5">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            {% if search %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if search %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search }}">{{ page_obj.previous_page_number }}</a>
                            {% else %}
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            {% endif %}
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link " href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link active" href="#">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            {% if search %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search }}">{{ page_obj.next_page_number }}</a>
                            {% else %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if search %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search }}"aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}"aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>




{% endblock content %}