{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <div class="main-content">
                <a href="{% url "order:create_order" %}"><button class="none_decoration main-content__link btn">Criar Pedido</button></a>
            </div>
            <section class="main-content flex-reverse">
                {% for order in orders %}
                <div class="card">
                    <div class="card__title">
                        <h2><a href="{% url "order:order" order.id%}" class="none_decoration">{{ order.client }}</a></h2>
                    </div>
                    <div class="card__content">

                        {% if order.status.lower == "pendente" %}
                            <p style="color: red;">Status: {{ order.status }}</p>
                        {% elif order.status.lower == "finalizado" %}
                            <p style="color: green;">Status: {{ order.status }}</p>
                        {% endif %}

                        <p>Valor Total: R${{ order.total_value }}</p>
                        <p>Criado em {{ order.created_at }}</p>
                        <form action="{% url "order:delete_order" order.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning">Excluir Pedido</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock content %}