{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container text-dark mt-2 mb-2 pt-3 border bg-light text-center">
        <form action="{% url "order" order.id %}" method="post" class="w-50 m-auto pt-3 pb-5">
            {% csrf_token %}
            <label for="" class="form-label">{{ form.client.label }}</label>
            {{ form.client}}
            <div class="pt-3 pb-3"></div>

            <label for="" class="form-label">{{ form.status.label }}</label>
            {{ form.status }}
            <div class="pt-3 pb-3"></div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>

        <h2>Produtos</h2>
        <a href="{% url "add_product" order.id %}" class="btn btn-primary mb-3 mt-3">Adicionar produtos</a>
        <div class="container mb-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order_products %}
                        <tr>
                            <th>{{ product.product.name}}</th>
                            <th>{{ product.product.price}}</th>
                            <th>{{ product.quantity}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Total: R${{ order.total_value }}</h3>
        </div>

    </div>
{% endblock content %}