{% extends "base.html" %}
{% load static %}
{% block content %}
    <header>
        <nav class="nav-bar">
            <a href="index.html" class="nav-bar__link none_decoration">Gerenciador de Pedido</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <section class="main-content">
                <form action="" class="form-group">
                    <div class="form-group__input">
                        <label for="status">Produto</label>
                        <select name="status" id="">
                            <option value="pendente">Frango</option>
                            <option value="concluido">Carne</option>
                        </select>
                    </div>
                    <div class="form-group__input">
                        <label for="client">Quantidade</label>
                        <input min="1" type="number" name="client">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </section>
        </div>
    </main>
{% endblock content %}