{% extends "base.html" %}
{% load static %}
{% block content %}

    <main>
        <div class="container">
            <section class="main-content">
                <form action="{% url "order:order" order.id %}" method="post" class="form-group">
                    {% csrf_token %}
                    <div class="form-group__input">
                        {{ form.client.label }}
                        {{ form.client }}
                    </div>
                    <div class="form-group__input">
                        {{ form.status.label }}
                        {{ form.status }}
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
                <div class="container">
                    <h1>Produtos:</h1>
                    <table class="main-content container__table table content">
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                        </tr>
                        {% for product in order_products %}
                        <tr>
                            <td>{{ product.product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td><a href="{% url "order:delete_product" product.id %}" class="none_decoration btn btn-warning">Deletar</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div>
                    <a href="{% url "order:add_product" order.id %}"><button class="btn btn-primary">Adicionar Produto</button></a>
                </div>
            </section>
        </div>
    </main>
{% endblock content %}